@using Castle.Core.Internal
@using XYZCorpTempSite.Models
@model XYZCorpTempSite.Interfaces.IHomePage

<div class="col-md-12">
    <div class="row">
        @if (!Model.Articles.IsNullOrEmpty())
        {
            foreach (var article in Model.Articles)
            {
                <div class="col-md-12 text-center">
                    <h3>
                        @Html.ActionLink(article.Header, "Edit", "NewsArticles", 
                        new { id = ((NewsArticle)article).NewsArticleId }, null)
                    </h3>
                </div>
            }
        }
    </div>
</div>